

html,
body {
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  font-family: $ff-serif;
  min-height: 100vh;
  font-size: 62.5%;
  line-height: 1.6;
  text-align: center;
}


h1,
h2,
h3,
h4,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
